<h1>Ticket system</h1>
<br>

File a ticket <a href="/add-ticket">here</a>!

<br>
<br>
View tickets assigned to you <a href="/view-users-tickets/{{ pk }}">here</a>!
<br>
<br>

links to tickets
<br>

<br>
<h1>New Tickets</h1>
{% for ticket in new_tickets %}
  <a href="/ticket/{{ ticket.pk }}">{{ ticket.title }}</a> 
  <br>
{% endfor %}

<br>
<h1>In Progress Tickets</h1>
{% for ticket in in_prog_tickets %}
  <a href="/ticket/{{ ticket.pk }}">{{ ticket.title }}</a>
  <br>
{% endfor %}

<br>
<h1>Completed Tickets</h1>
{% for ticket in completed_tickets %}
  <a href="/ticket/{{ ticket.pk }}">{{ ticket.title }}</a>
  <br>
{% endfor %}

<br>
<h1>Invalid Tickets</h1>
{% for ticket in invalid_tickets %}
  <a href="/ticket/{{ ticket.pk }}">{{ ticket.title }}</a>
  <br>
{% endfor %}




<br>
<a href="/logout">logout</a>