title: {{ ticket.title }}
<br>
description: {{ ticket.description }}
<br>
status: {{ ticket.status }}
<br>
submitted_by: {{ ticket.submitted_by }}
<br>
assigned_by: {{ ticket.assigned_by }}
<br>
completed_by: {{ ticket.completed_by }}
<br>
time: {{ ticket.time }}
<br>


{% if ticket.status == "new" %}
Assign yourself this ticket <a href="/assign-ticket/{{ ticket.pk }}">here</a>!
{% endif %}
{% if ticket.status == "in_progress" %}
Mark this ticket as completed <a href="/complete-ticket/{{ ticket.pk }}">here</a>!
{% endif %}

Master Edit Link : <a href="/edit/{{ ticket.pk }}">here</a>


<br>