<h1>Tickets submitted by you</h1>
{% for ticket in submitted_by %}
  {% include "ticket.html" with ticket=ticket %}
{% endfor %}

<br>

<h1>Tickets assigned to you</h1>
{% for ticket in assigned_by %}
  {% include "ticket.html" with ticket=ticket %}
{% endfor %}

<br>

<h1>Tickets completed by you</h1>
{% for ticket in completed_by %}
  {% include "ticket.html" with ticket=ticket %}
{% endfor %}
